body {
  background-color: #121212;
  color: #f5f5f5;
}

.hero {
  height: 60vh;
  background: url('https://cdn.evt.com/wp-content/uploads/2023/08/15074849/IMG1553_ScreenXRobina_EVT_110823_S01_0022_Panorama-1SHARKS-2200x1200.jpeg') center/cover;
}

.hero h1,
.hero p {
    color: white !important;
    top: -140px;
    position: relative;
}

.hero p{
    font-weight: bold;
}


.card {
  background-color: #1e1e1e;
  color: white;
  border: none;
}

.card img {
  height: 350px;
  object-fit: cover;
}

.btn-warning {
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.card img {
  height: 250px;
  object-fit: cover;
}